.view-wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.question-wrapper-large {
    text-align: justify;
    margin: 5em;
}

.question-wrapper-small {
    text-align: justify;
    align-items: center;
    margin: 2.5em;
    width: 80%;
}

.question {
    padding: 1em;
    border: 1px solid #a9a9a9;
}

.chart-wrapper {
    margin-top: 5em;
    margin-left: 65%;
    position: absolute;
}

.meta-question {
    margin-top: 1.5em;
    margin-left: 2em;
}

.meta-response {
    margin-left: 2em;
    width: 25em;
}

.response {
    margin-left: 2em;
    margin-right: 2em;
}

.answer-option  {
    padding: 1em 1em;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    margin-bottom: 2px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.answer-option p {
    margin-bottom: 0;
    margin-right: 1em;
}

.drag-handle {
    background: linear-gradient(180deg,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
    opacity: 0.25;
    min-width: 18px;
    height: 11px;
    margin-right: 1em;
}