.view-wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.question-wrapper-large {
    text-align: justify;
    margin: 5em;
}

.question-wrapper-small {
    text-align: justify;
    align-items: center;
    margin: 2.5em;
    width: 80%;
}

.question {
    padding: 1em;
    border: #5a6268 1px solid;
}

.chart-wrapper {
    margin-top: 5em;
    margin-left: 65%;
    position: absolute;
}

.meta-question {
    margin-top: 1.5em;
    margin-left: 2em;
}

.meta-response {
    margin-left: 2em;
    width: 25em;
}

.response {
    margin-left: 2em;
    margin-right: 2em;
}

.answer-rank {
    margin-right: 2em;
    width: 4em;
}