body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/******************/
/*   Accordion    */
/******************/

.accordion-link {
  /* !important generally should not be used,
      but the btn-link class also defines text-decoration,
      so that needs to be overriden. */
  text-decoration: none !important;
}
